.wrapper {
  width: 45%;
  padding: 3%;
}

.arrow {
  font-weight: bolder;
  font-size: 3vw;
  margin: 3%;
}

.calculation {
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
